# **The first Lab-assignment (07/15/2022 11:59'AM' to 7/19/2022 11:59PM, 50 points in total)**

(1) Write a Python program to count the number of characters in a string. (6 points)

Sample String : 'google.com', 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [1]:
# write your answer here
def charCount(sample_str):
    dict = {}
    for n in sample_str:
        keys = dict.keys()
        if n in keys:
            dict[n] += 1
        else:
            dict[n] = 1
    return dict
print(charCount('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(2) Write a Python program to sum all the items in a list. (6 points)

In [2]:
# write your answer here
sampleList=[10,20,30,40]
sum(sampleList)

100

(3) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (6 points)

Sample String : 'restart', 

Expected Result : 'resta\$t'

In [14]:
# write your answer here
def charChange(sampleStr):
  char = sampleStr[0]
  sampleStr = char+sampleStr[1:].replace(char, '$')

  return sampleStr

print(charChange('restart'))

resta$t

(4) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (6 points)

In [16]:
# write your answer here
def twoParameters(a,b):
  s=3.14*((1+(a/b))**3)
  return s

twoParameters(0,1)

3.14

(5) Write a Python program to concatenate following dictionaries to create a new one. (6 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [12]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
sampleDic={}
for d in (dic1, dic2, dic3): 
  sampleDic.update(d)
print(sampleDic)

#OR

dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic2.update(dic3)
dic1.update(dic2)
print(dic1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(6) Write a Python program to check whether an element exists within a tuple. (6 points)

In [16]:
# write your answer here
tup=(1,2,3,'qwertyuiop',4,5,'asdfghjkl',6,'zxcvbnm',7)
print('qwertyuiop' in tup)
print(8 in tup)

True
False

(7) Write a Python program to find maximum and the minimum value in a set. (6 points)

In [17]:
# write your answer here
sampleSet={5, 20, 13, 17, 1, 9}
print(sampleSet)
print('Maximum Value: ',max(sampleSet))
print('Minimum Value: ',min(sampleSet))

{1, 5, 9, 13, 17, 20}
Maximum Value:  20
Minimum Value:  1

(8) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (8 points)

In [18]:
# write your answer here
def dupElements(array):
  sampleSet=set()
  dups=[]
  for i in array:
    if i not in sampleSet:
      sampleSet.add(i)
    else:
      dups.append(i)
  print('Duplicate elements in the array: ',dups) if len(dups)!=0 else print('-1')
sampleArray1=[1,2,2,3,4,4,5,6,6,7,8,8,9]
sampleArray2=[1,2,3,4,5,6,7,8,9]
print("First Array: ")
dupElements(sampleArray1)
print("Second Array: ")
dupElements(sampleArray2)

First Array:
Duplicate elements in the array:  [2, 4, 6, 8]
Second Array:
-1